body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(./Mor-Peretz.JPG);
}

#title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
  color: white;
  padding: 5%;
  padding-left: 10%;
  padding-bottom: 2%;
}

#title-degree {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  color: white;
  display: flex;
  padding: 10%;
  padding-top: 0%;
}

#title-welcome {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  top: 85%;
  left: 4%;
  font-size: 20px;
  padding-left: 10%;
}

.icons {
  display: flex;
  gap: 10%;
  width: 15%;
  height: 20%;
  padding-left: 13%;
  padding-top: 2%;
}

.icon img {
  height: 100%;
  width: 100%;
}
