* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./Mor-Peretz.JPG);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header nav {
  background-color: rgba(93, 79, 79, 0.452);
  box-shadow: 3px 3px 5px rgba (0, 0, 0, 0.1);
}

header nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav li {
  height: 50px;
}

header nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

header nav a:hover {
  background-color: #756c6b;
}

header nav li:first-child {
  margin-right: auto;
}

.side-bar {
  position: fixed;
  top: 0;
  height: 100vh;
  right: 0;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter: blur(10px);
}

.side-bar li {
  width: 100%;
}
.side-bar a {
  width: 100%;
}
.menu-button {
  display: none;
}

#logo {
  font-family: serif;
  font-size: 30px;
}

@media (max-width: 800px) {
  .hideonmobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  #title {
    font-size: 40px;
  }
}

@media (max-width: 400px) {
  .side-bar {
    width: 100%;
  }
}

#main-logo {
  width: 110px;
  height: 50px;
}

#title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
  color: white;
  padding: 5%;
  padding-left: 10%;
  padding-bottom: 2%;
}

#title-degree {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  color: white;
  display: flex;
  padding: 10%;
  padding-top: 0%;
}

#title-welcome {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  top: 85%;
  left: 4%;
  font-size: 20px;
  padding-left: 10%;
}

.icons {
  display: flex;
  gap: 10%;
  width: 15%;
  height: 20%;
  padding-left: 13%;
  padding-top: 2%;
}

.icon img {
  height: 100%;
  width: 100%;
}
