body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(./projects-img.jpg);
}
.projects-sec {
  color: white;
  padding-left: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-right: 15px;
}

.projects-sec h1 {
  padding-top: 4%;
  font-size: 180%;
}

.projects-sec p {
  padding-top: 4%;
}
.projects-sec img {
  padding-right: 3%;
  padding-top: 3%;
  height: 5%;
  width: 30%;
  float: right;
  margin: 0 0 0 15px;
}

.projects-sec h2 {
  padding-top: 4%;
  display: flex;
  padding-top: 1%;
  text-align: center;
}

#handshake {
  padding-top: 3%;
  padding-right: 18%;
  height: 160px;
  width: 160px;
}
#sentence {
  padding-top: 4%;
  font-size: 30px;
  padding-left: 10%;
}

#origin-sentence {
  font-family: "Times New Roman", Times, serif;
  padding-top: 2%;
  font-size: 25px;
  padding-left: 10%;
  padding-bottom: 5%;
}

@media (max-width: 700px) {
  #handshake {
    padding-right: 28%;
    height: 190px;
    width: 190px;
  }
  #sentence {
    padding-left: 2%;
  }
  #origin-sentence {
    padding-left: 26%;
  }
  .projects-sec h2 {
    padding-top: 4%;
  }
  .projects-sec {
    padding-left: 10px;
    padding-right: 25px;
  }
  .projects-sec img {
    height: 10%;
    width: 40%;
    padding-right: 2%;
    padding-top: 10%;
  }
}
