body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(./Images/resume-img.jpg);
}

.resume-sec {
  color: white;
  padding-left: 45px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-right: 15px;
}
.resume-sec h1 {
  padding-top: 4%;
  font-size: 35px;
}
.resume-sec ul {
  padding-left: 18px;
  padding-top: 13px;
}
h3 {
  padding-top: 2%;
}

.resume-sec p {
  padding-bottom: 3%;
}

@media (max-width: 700px) {
  h3 {
    padding-top: 3%;
  }
  .resume-sec {
    padding-left: 10px;
    padding-right: 39px;
  }

  .resume-sec h1 {
    padding-top: 10%;
  }
}
